<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Toy application demoing useful tech.">
    <meta name="author" content="as">

    <title>Stock Data Lookup Example</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link
        href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.9.min.css"
        rel="stylesheet" type="text/css">
    <link
        href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.9.min.css"
        rel="stylesheet" type="text/css">

    <script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.9.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.9.min.js"></script>

    <style type="text/css">
       body { background: #c1c1c1 !important; }
    </style>

  </head>

  <body>

    <!-- form -->
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-left">
          <h2> >> Plot stock prices </h2>
          <form id="input" method="post" action="/">
          <p>Ticker stock symbol: <input type="text" name="ticker" value={{ ticker }} /> (e.g. GOOG, YHOO, AMZN, etc)</p>
          <p>Number of past months to plot: <input type="text" name="months" value={{ months }} /></p>
          <p>
          Prices to show (multiple choice)<br>
          {% if "close" in checked_values %}
          <input type="checkbox" name="features" value="close" checked="" />Closing price<br>
          {% else %}
          <input type="checkbox" name="features" value="close" />Closing price<br>
          {% endif %}

          {% if "adj_close" in checked_values %}
          <input type="checkbox" name="features" value="adj_close" checked="" />Adjusted closing price<br>
          {% else %}
          <input type="checkbox" name="features" value="adj_close" />Adjusted closing price<br>
          {% endif %}

          {% if "open" in checked_values %}
          <input type="checkbox" name="features" value="open" checked="" />Opening price<br>
          {% else %}
          <input type="checkbox" name="features" value="open" />Opening price<br>
          {% endif %}

          {% if "adj_open" in checked_values %}
          <input type="checkbox" name="features" value="adj_open" checked="" />Adjusted opening price<br>
          {% else %}
          <input type="checkbox" name="features" value="adj_open" />Adjusted opening price<br>
          {% endif %}

          </p>
          <p><input type="submit" value="Plot data"></p>
          </form>

          {{ script|safe }}
          {{ div|safe }}

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
